* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  min-height: 100%;
}
/* estiliza o layout */
.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border: thin solid #eee
}

main {
  flex: 1;
  background-color: #fafafa;
  padding: 6px;
  overflow-x: auto;
}

.app > header,
.app > footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app > header {
  height: 55px;
  border-bottom: thin solid #ccc;
}

.app > footer {
  border-top: thin solid #ccc;
  height: 40px;
}

/* table */

table {
  border-spacing: 0;
  width: 100%;
  background-color: #fff;
}

th, td {
  border: thin solid #eee;
  padding: 12px 4px;
  min-width: 30px;
}

th {
  padding: 12px 6px;
  background-color: #f6f6f1;
}

th:first-child {
  background-color: #eee;
}

th:nth-last-child(4) {
  background-color: #ffe2eb;
}

th:nth-last-child(3) {
  background-color: #fffed7;
}

th:nth-last-child(2) {
  background-color: #ecfdec;
}

th:last-child {
  background-color: #d8ffd8;
}

tbody tr:nth-child(odd) td {
  background-color: #fafafa;
}

tbody tr:hover td {
  background-color: #fffce7;
}

tbody td {
  text-align: center;
  position: relative;
  z-index:1;
}

tbody td:nth-child(n+2):nth-child(-n+32) {
  cursor: pointer;
}

tbody td:first-child {
  text-transform: uppercase;
}

td.present {
  background-color: #dffadf !important;
}

td.ausent {
  background-color: #fadfdf !important;
}

td.aboned {
  background-color: #fffed7 !important;
}

td:hover {
  border: thin solid #333;
  z-index:55;
}


/* classes de texto */
.text-danger {
  color: red;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.fw-light {
  font-weight: lighter;
}
